CRUD/.vs/CRUD.slnx/FileContentIndex/517fde90-0c55-4ab2-961a-64f6411ef7e1.vsidx
CRUD/.vs/CRUD.slnx/FileContentIndex/599fc740-77c2-4200-af52-19589550adba.vsidx
CRUD/.vs/CRUD.slnx/v18/.suo
CRUD/.vs/CRUD.slnx/v18/DocumentLayout.backup.json
CRUD/.vs/CRUD.slnx/v18/DocumentLayout.json
CRUD/obj/Debug/net10.0/apphost.exe
CRUD/obj/Debug/net10.0/CRUD.assets.cache
CRUD/obj/Debug/net10.0/CRUD.csproj.FileListAbsolute.txt
loginAPI/.vs/loginAPI.slnx/FileContentIndex/b320286b-5888-4817-a198-370960e59ff3.vsidx
loginAPI/.vs/loginAPI.slnx/FileContentIndex/e2e752fb-4f31-4790-8a48-6b592f7b888a.vsidx
loginAPI/.vs/loginAPI.slnx/v18/.suo
loginAPI/.vs/loginAPI.slnx/v18/DocumentLayout.json
loginAPI/obj/Debug/net10.0/apphost.exe
loginAPI/obj/Debug/net10.0/loginAPI.assets.cache
loginAPI/obj/Debug/net10.0/loginAPI.csproj.FileListAbsolute.txt
