USE [AssetInventory]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAssets]    Script Date: 6/28/2026 9:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_GetAssets]
    @Search     NVARCHAR(100) = NULL,
    @Status     NVARCHAR(50)  = NULL,
    @Category   NVARCHAR(50)  = NULL,
    @PageNumber INT = 1,
    @PageSize   INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    /* ---- Defensive paging defaults ---- */
    IF @PageNumber IS NULL OR @PageNumber < 1 SET @PageNumber = 1;
    IF @PageSize   IS NULL OR @PageSize   < 1 SET @PageSize   = 20;
    IF @PageSize > 200 SET @PageSize = 200;   -- hard cap to protect the server

    /* ================================================================
       RESULT 1 — Page of data with resolved names (section C shape)
       ================================================================ */
    SELECT
        a.Id,
        a.AssetCode,
        a.SerialNumber,
        c.Name  AS Category,
        b.Name  AS Brand,
        m.Name  AS Model,
        o.Name  AS Ownership,
        s.Name  AS Status,
        ar.Name AS Location,
        CASE WHEN e.EmployeeId IS NULL THEN NULL
             ELSE CONCAT(e.FirstName, ' ', e.LastName) END AS AssignedTo,
        sup.Name AS Supplier,
        mnt.Name AS MaintainedBy,
        a.PurchaseDate,
        a.RentalStartDate,
        a.RentalEndDate,
        a.CreatedAt,
        a.UpdatedAt
    FROM dbo.Assets a
    JOIN dbo.Categories     c   ON c.Id   = a.CategoryId
    JOIN dbo.Models         m   ON m.Id   = a.ModelId
    JOIN dbo.Brands         b   ON b.Id   = m.BrandId
    JOIN dbo.OwnershipTypes o   ON o.Id   = a.OwnershipTypeId
    JOIN dbo.Statuses       s   ON s.Id   = a.StatusId
    JOIN dbo.CompanyAreas   ar  ON ar.Id  = a.CurrentLocationId
    LEFT JOIN dbo.Employees e   ON e.EmployeeId = a.AssignedTo
    LEFT JOIN dbo.Suppliers sup ON sup.Id = a.SupplierId
    LEFT JOIN dbo.Suppliers mnt ON mnt.Id = a.MaintainedBy
    WHERE (@Search IS NULL
              OR a.AssetCode    LIKE '%' + @Search + '%'
              OR a.SerialNumber LIKE '%' + @Search + '%'
              OR b.Name         LIKE '%' + @Search + '%'
              OR m.Name         LIKE '%' + @Search + '%')
      AND (@Status   IS NULL OR s.Name = @Status)
      AND (@Category IS NULL OR c.Name = @Category)
    ORDER BY a.Id
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    /* ================================================================
       RESULT 2 — Total rows for the same filters (for the pager)
       Only the joins needed by the filters are included.
       ================================================================ */
    SELECT COUNT(*) AS TotalCount
    FROM dbo.Assets a
    JOIN dbo.Categories c ON c.Id = a.CategoryId
    JOIN dbo.Models     m ON m.Id = a.ModelId
    JOIN dbo.Brands     b ON b.Id = m.BrandId
    JOIN dbo.Statuses   s ON s.Id = a.StatusId
    WHERE (@Search IS NULL
              OR a.AssetCode    LIKE '%' + @Search + '%'
              OR a.SerialNumber LIKE '%' + @Search + '%'
              OR b.Name         LIKE '%' + @Search + '%'
              OR m.Name         LIKE '%' + @Search + '%')
      AND (@Status   IS NULL OR s.Name = @Status)
      AND (@Category IS NULL OR c.Name = @Category);
END
